<div class="product-image-wrapper" (click)="productDetail()">
    <div class="single-products">
        <div class="productinfo text-center">
            <img [src]="detail.image_path" alt="" />
            
        </div>
        <div class="product-card-name">
            <p>{{detail.product_name}}</p>
        </div>
    </div>
    <!-- <ng-content select="app-product-action"></ng-content> -->
</div>