<section>
    <div class="container">
        <div class="row">
            <!-- <app-left-sidebar></app-left-sidebar> -->
            <app-item-container></app-item-container>
        </div>
    </div>
</section>