<div class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <app-header-middle></app-header-middle>
            </div>
            <div class="col-sm-6">
                    <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <!-- <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li> -->
                                <li><a href="mailto:alankaranfurnishings@gmail.com" target="_top" class="padding-right-zero"><i class="fa fa-envelope"></i> alankaranfurnishings@gmail.com</a></li>
                            </ul>
                        </div>
                <div class="social-icons pull-right">
                    <ul class="nav navbar-nav">
                        <li><a><i class="fa fa-facebook"></i></a></li>
                        <li><a><i class="fa fa-twitter"></i></a></li>
                        <li><a><i class="fa fa-linkedin"></i></a></li>
                        <li><a><i class="fa fa-dribbble"></i></a></li>
                        <li><a><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
        </div>
    </div>
</div>