<div class="col-sm-7 clearfix">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="mainmenu pull-left">
        <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                            true}">Home</a></li>
            <li>
                <span class="dropdown multidropdown-button dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                               Categories<i class="fa fa-angle-down"></i>
                              
                            </span>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Bedroom Essentials <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a routerLinkActive="active" [routerLink]="['bedroom_essentials']" [queryParams]="{sub: 'curtains'}">Curtains</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['bedroom_essentials']" [queryParams]="{sub: 'cushions'}">Cushions</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['bedroom_essentials']" [queryParams]="{sub: 'bedsheets'}">Bedsheets</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['bedroom_essentials']" [queryParams]="{sub: 'rugs'}">Rugs</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Kitchen Essentials <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a routerLinkActive="active" [routerLink]="['kitchen_essentials']" [queryParams]="{sub: 'aprons'}">Aprons</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['kitchen_essentials']" [queryParams]="{sub: 'mittens'}">Mittens</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['kitchen_essentials']" [queryParams]="{sub: 'pot_holder'}">Pot Holder</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['kitchen_essentials']" [queryParams]="{sub: 'dbl'}">DBL</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['kitchen_essentials']" [queryParams]="{sub: 'tea_cozy'}">Tea Cozy</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['kitchen_essentials']" [queryParams]="{sub: 'napkin'}">Napkin</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Bags <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a routerLinkActive="active" [routerLink]="['bags']" [queryParams]="{sub: 'tote'}">Tote Bags</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['bags']" [queryParams]="{sub: 'jute'}">Jute Bags</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['bags']" [queryParams]="{sub: 'hand'}">Hand Bags</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['bags']" [queryParams]="{sub: 'clutches'}">Clutches</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Table Linen <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a routerLinkActive="active" [routerLink]="['table_linen']" [queryParams]="{sub: 'cover'}">Table Cover</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['table_linen']" [queryParams]="{sub: 'runner'}">Table Runner</a></li>
                            <li><a routerLinkActive="active" [routerLink]="['table_linen']" [queryParams]="{sub: 'placemats'}">Placemats</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['towels']">Towels</a></li>

                </ul>
            </li>
            <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>
</div>