<header id="header" class="navbar-fixed-top">
    <!--header_top-->
    <app-header-top></app-header-top>
    <!--/header_top-->
    <!--header-middle-->
    <!-- <app-header-middle></app-header-middle> -->
    <!--/header-middle-->
    <!--header-bottom-->

    <!--/header-bottom-->
</header>