<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    <div *ngFor="let item of featureProductList$ | async | slice:0:4">
        <app-product-card [detail]='item' class="col-sm-3">
            <app-product-action></app-product-action>
        </app-product-card>
    </div>
</div>