<div class="container">
    <div class="row">
        <div class="col-sm-12 padding-left padding-right">
            <div class="features_items">
                <!--product-details-->
                <div class="col-sm-6">
                    <div class="row">
                    <app-zoom-image-container class="col-sm-12" [imageData]="selectedImage"></app-zoom-image-container>
                    <app-image-stack class="col-sm-12" (imageSelect)="selectedImage = $event" [imageList]="productDetail.image_list"></app-image-stack>
                </div>
                </div>
                <div class="col-sm-6">
                    <app-product-info [productDetail]="productDetail"></app-product-info>
                    <!--/product-information-->
                </div>
            </div>
        </div>
    </div>
</div>