<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tshirt" data-toggle="tab">Bedroom Essentials</a>
            </li>
            <li><a href="#blazers" data-toggle="tab">Kitchen Essentials</a></li>
            <li><a href="#sunglass" data-toggle="tab">Bags</a></li>
            <li><a href="#kids" data-toggle="tab">Table linen</a></li>
            <li><a href="#poloshirt" data-toggle="tab">Towels</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tshirt">
            <div *ngFor="let item of bedroomProduct$ | async | slice:0:8">
                <app-product-card [detail]='item' class="col-sm-3"></app-product-card>
            </div>
            <div class="right-align"><a class='view-button' routerLink="bedroom_essentials">View All</a></div>
        </div>

        <div class="tab-pane fade" id="blazers">
            <div *ngFor="let item of kitchenProduct$ | async | slice:0:8">
                <app-product-card [detail]='item' class="col-sm-3"></app-product-card>
            </div>
            <div class="right-align"><a class='view-button' routerLink="kitchen_essentials">View All</a></div>
        </div>

        <div class="tab-pane fade" id="sunglass">
            <div *ngFor="let item of bagProduct$ | async | slice:0:8">
                <app-product-card [detail]='item' class="col-sm-3"></app-product-card>
            </div>
            <div class="right-align"><a class='view-button' routerLink="bags">View All</a></div>
        </div>

        <div class="tab-pane fade" id="kids">
            <div *ngFor="let item of tableProduct$ | async | slice:0:8">
                <app-product-card [detail]='item' class="col-sm-3"></app-product-card>
            </div>
            <div class="right-align"><a class='view-button' routerLink="table_linen">View All</a></div>
        </div>

        <div class="tab-pane fade" id="poloshirt">
            <div *ngFor="let item of towelProduct$ | async | slice:0:8">
                <app-product-card [detail]='item' class="col-sm-3"></app-product-card>
            </div>
            <div class="right-align"><a class='view-button' routerLink="towels">View All</a></div>
        </div>
    </div>
</div>