<div id="similar-product" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
         <a (click)="onImageClick(image)" *ngFor="let image of imageList"><img [src]="image.thumbnail" alt=""></a>
        </div>
    </div>
</div>