<footer id="footer">
    <!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2019 Home Furnishing Pvt. Ltd. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="https://www.facebook.com/ankit5622">Ankit Sharma</a></span></p>
            </div>
        </div>
    </div>

</footer>