<div class="choose">
    <ul class="nav nav-pills nav-justified">
        <li><a><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
        <li><a><i class="fa fa-plus-square"></i>Add to compare</a></li>
    </ul>
</div>