<div class="header-middle">
    <!--header-middle-->
    <div class="container">
        <div class="row">
            <div class="col-sm-2 clearfix">
                <div class="logo pull-left">
                    <a routerLink=""><img class="logo-position" src="assets/images/home/logo.svg" alt="" /></a>
                </div>
            </div>
            <app-header-bottom></app-header-bottom>
        </div>
    </div>
</div>