<div class="container">
    <div class="row">
        <div class="col-sm-12 padding-left padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Table Linens <span *ngIf="subCategory">({{subCategory}})</span></h2>
                <div *ngIf="tableProduct$ | async as tableProduct; else loading">
                    <ng-container *ngIf="tableProduct.length; else noItems">
                        <div *ngFor="let item of tableProduct">
                            <app-product-card [detail]='item' class="col-sm-3"></app-product-card>
                        </div>
                    </ng-container>
                    <ng-template #noItems>
                        <app-no-result></app-no-result>
                    </ng-template>
                </div>
                <ng-template #loading>loading animation...</ng-template>
            </div>
        </div>
        <!--features_items-->
    </div>
</div>