<div class="container">
    <div class="row">
        <div class="col-sm-12 padding-left padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Towels</h2>
                <div *ngFor="let item of towelProduct$ | async">
                    <app-product-card [detail]='item' class="col-sm-3"></app-product-card>
                </div>
            </div>
            <!--features_items-->
        </div>
    </div>
</div>