<div class="product-information">
    <!--/product-information-->
    <h2>{{productDetail.product_name}}</h2>
    <span>
    <a type="button" href="mailto:alankaranfurnishings@gmail.com" target="_top" class="btn btn-fefault cart">
<i class="fa fa fa-envelope"></i>
Ask for Price
    </a>
    </span>
    <p><b>Availability:</b> In Stock</p>
</div>