<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#bedroom">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span> Bedroom Essentials
                        </a>
                    </h4>
                </div>
                <div id="bedroom" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a>Curtains </a></li>
                            <li><a>Cushions </a></li>
                            <li><a>Bedsheets </a></li>
                            <li><a>Rugs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#kitchens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span> Kitchen Essentials
                        </a>
                    </h4>
                </div>
                <div id="kitchens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a>Aprons</a></li>
                            <li><a>Mittens</a></li>
                            <li><a>Pot Holder</a></li>
                            <li><a>DBL</a></li>
                            <li><a>Tea Cozy</a></li>
                            <li><a>Napkin</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#bags">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span> Bags
                        </a>
                    </h4>
                </div>
                <div id="bags" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a>Tote Bags</a></li>
                            <li><a>Jute Bags</a></li>
                            <li><a>Hand Bags</a></li>
                            <li><a>Clutches</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#table">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span> Table Linen
                        </a>
                    </h4>
                </div>
                <div id="table" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a>Table Cover</a></li>
                            <li><a>Table Runner</a></li>
                            <li><a>Placemats</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a>Towels</a></h4>
                </div>
            </div>
        </div>
        <!--/category-products-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="assets/images/home/shipping.jpg" alt="" />
        </div>
        <!--/shipping-->

    </div>
</div>