/* You can add global styles to this file, and also import other style files */


/* For the "inset" look only */

html {
    overflow: auto;
}

body {
    overflow-x: hidden;
    padding-top: 150px;
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0;
    border-radius: 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #e7e7e7;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #e7e7e7;
}

#header {
    background: white;
}

.view-button {
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    background: #FE980F;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border: none;
}

.right-align {
    float: left;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

.right-align a:hover {
    color: #696763;
}

.nav.navbar-nav.collapse li {
    padding-top: 5px;
}

.no-data.container {
    min-height: calc(100vh - 240px);
}

.features_items {
    min-height: calc(100vh - 191px);
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}

.logo-position{
    width: 138px;
    position: absolute;
    top: -38px;
    left: -70px;
}

