<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">recommended items</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div *ngFor="let item of recommendedProductList$ | async | slice:0:4">
                    <app-product-card [detail]='item' class="col-sm-3">
                    </app-product-card>
                </div>
            </div>
            <div class="item">
                <div *ngFor="let item of recommendedProductList$ | async | slice:4:8">
                    <app-product-card [detail]='item' class="col-sm-3">
                    </app-product-card>
                </div>
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>