<div class="col-sm-12 padding-left padding-right">
    <app-categories-tab></app-categories-tab>
    <!--/category-tab-->
    <app-featured-item></app-featured-item>
    <!--features_items-->
    <app-recommended></app-recommended>
    <!--/recommended_items-->

</div>